# App
APP_PORT=8080
APP_SECRET=bolshoi-bolshoi-secret
APP_PICTURE_BASE_URL=http://localhost/

# DB
DB_HOST=mysql
DB_USER=testum_user
DB_PASS=testum_pass
DB_NAME=testum
DB_PORT=3306

# LDAP
LDAP_SERVER=ldap.cs.prv
LDAP_PORT=636
LDAP_BASE_DN=OU=people,DC=cs,DC=karelia,DC=ru
LDAP_TIMEOUT=5s
